form input, .profileLabelValue {
  background: var(--color-blue5);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  line-height: 1.33;
  width: 100%;
}

.textField{
  height: 336px;
}

.outerProfileInfo {
  margin: 20px;
  margin-bottom: 0px; 
  margin-top: 0px; 
  padding: 10px; 
}

.ProfilePageTitle {
  margin: 20px;
  margin-top: 5px; 
  margin-bottom: 5px; 
  padding-bottom: 10px; 
  padding-top: 0px; 
}

.profileInfo {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-blue7);
}
.hrstyle{
  border: 0.5px solid var(--color-blue7);
  margin-bottom: 20px; 
}
.profileInfoBlockContainer {
  display: flex;
  flex-wrap: wrap;
}

.profileInfoContentsEntry{
  margin-bottom: 54px;
}


.profileInfoContents p, .profileInfoContents h3 {
  margin-bottom: 20px;
  display: flex;
  min-height: 60px;
}
.profileInfoContents{
  max-width: 564px;
  min-width: 244px;
  width: -webkit-fill-available;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 50%;
}
.ProfileCircleWithInfo {
  display: flex;
  padding: 10px;
}
.ProfileCircleWithInfo span p {
  color: var(--color-blue1);
}

.ProfileCircleWithInfo span {
  margin: 10px;
}

form input:focus {
  border: 1px solid var(--color-blue2);
}
form label, .profileLabel {
  color: var(--color-blue1);
  line-height: 1.5;
  margin-bottom: 2px;
  padding-left: 15px;
}

.inputwrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  padding-top: 15px;
}
.input-has-icon {
  padding-left: 56px;
  padding-right: 10px;
}

.showpasswordbutton {
  position: absolute;
  bottom: 28px;
  right: 16px;
  z-index: 2;
  background: none;
  transform: translateY(19px);
  transition: all 0.2s ease;
}
.showpasswordbutton:hover {
  opacity: 0.7;
}
.showpasswordbutton.__faded {
  opacity: 0.4;
}

.passwordreveal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
